body {
    font-family: 'Roboto', sans-serif;
}

.games,
.footer,
.btn-nav {
    background-color: #525252;
}

.btn-color {
    background-color: coral;
}

.btn-color:hover {
    background-color: lightcoral;
}

.btn-nav:hover {
    background-color: #363636;
}